<div class="card border-warning m-auto" style="max-width: 90%;">
  <div class="card-body">
    <%= form_with model: topic, local: true do |f|%>
      <div class="form-group">
        <%= f.label :title, "タイトル" %><br>
        <%= f.text_field :title, placeholder: "Topic title" ,class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :text, "本文" %><br>
        <%= f.text_area :text, placeholder: "Dear Femiに投稿してみましょう", rows: "8", class: "form-control"%>
      </div>

      <div class="form-control-fileform-control-file">
        <%= f.label :image, "画像" %><br>
        <%= f.file_field :image %>
      </div>
      <br>
        <%= f.submit "投稿", class: "btn btn-primary" %> <%= link_to "戻る", :back ,class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>