<div class="card border-warning m-auto" style="max-width: 90%;">
  <%= form_with model: @topic, url: topics_path, class:"card-body", local: true do |f|%>
    <div class="form-group">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, placeholder: "Topic title" ,class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :text, "本文" %>
      <%= f.text_area :text, placeholder: "Dear Femiに投稿してみましょう", rows: "7", class: "form-control"%>
    </div>
    <div class="form-control-fileform-control-file">
      <%= f.label :image, "画像" %><br>
      <%= f.file_field :image %>
      <div id="image-list"></div>
    </div>
    <div class="form-group">
      <%= f.label :tagname, "タグ" %>
      <%= f.text_field :tagname, placeholder: "タグ付けしてみましょう", class:"form-control" %>
    </div>
    <div id="search-result">
    </div>
    <%= f.submit "投稿", class: "btn btn-warning" %> <%= link_to "戻る", :back ,class: "btn btn-warning" %>
  <% end %>
</div>
<br>