<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <%= link_to 'MENU', root_path, class: "navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse show" id="navbarColor02" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'About', about_topics_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'New Topic', new_topic_path, class: "nav-link"%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
        <div class="dropdown-menu">
          <%= link_to 'Profile', "/users/#{current_user.id}", class: "dropdown-item"%>
          <%= link_to 'invitation', new_user_invitation_path, class: "dropdown-item"%>
          <%= link_to 'User Edit', edit_user_registration_path(@user), class: "dropdown-item"%>
          <div class="dropdown-divider"></div>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
    <%= form_with(url: search_topics_path, local: true, method: :get, class: "form-inline my-2 my-lg-0") do |f| %>
      <%= f.text_field :keyword, placeholder: "検索する", class: "form-control mr-sm-2" %>
      <%= f.submit "検索", class: "btn btn-secondary my-2 my-sm-0" %>
    <% end %>
  </div>
</nav>
<br>