<div class="card mb-3">
  <h3 class="card-header"><%= link_to topic.title, topic_path(topic), class: "mb-1"%></h3>
  <div class="card-body">
    <%= image_tag topic.image.variant(resize: '450'), class: 'd-block user-select-none' if topic.image.attached?%>
    <p class="card-text"><%= topic.text %></p>
      <% topic.tags.each do |tag| %>
        <%= tag.tagname%>
      <% end %>
  </div>
    <small class="card-footer text-muted">
      <%= l topic.created_at %>
      <%= link_to "by #{topic.user.name}", user_path(topic.user)%>
    </small>
</div>