<%= render "topics/header" %>
<div class="card border-secondary mb-3" style="max-width: 30rem; margin: 0 auto 0;">
  <div class="card-header">
    <h2><%= t "devise.invitations.new.header" %></h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <% resource.class.invite_key_fields.each do |field| %>
            <%= f.label :name %><br />
            <%= f.text_field :name %><br />

            <%= f.label :email %><br />
            <%= f.text_field :email %><br />
        <% end %>
        <br />
        <%= f.submit t("devise.invitations.new.submit_button") %>
      <% end %>
    </p>
  </div>
</div>